
<div class="box box-primary">
    <div class="box-header">
        <i class="ion ion-clipboard"></i>
        <h3 class="box-title">Amalan Yaumiah</h3><br>
        <div class="box-tools pull-right">
            <ul class="pagination pagination-sm inline">
                <li><a href="?prevdate=true&date={{ date }}" class="tgl_prev" >«</a></li>
                <li><span class="tgl_today">Tanggal: {{ date }}</span></li>
                <li><a href="?nextdate=true&date={{ date }}" class="tgl_next">»</a></li>
            </ul>
        </div>
    </div>
    <div class="box-body">
        <form action="#" method="post">
            <ul class="todo-list">
                <li {% if status.tilawah %}class="done"{% endif %}>
                    <!-- checkbox -->
                    <input type="checkbox" value="1" {% if status.tilawah %}checked{% endif %} name="tilawah"/>
                    <!-- todo text -->
                    <span class="text">Tilawah</span>
                    <!-- Emphasis label -->
                    <small class="label label-success"><i class="fa fa-book"></i> min 3 lembar</small>
                    <small class="label label-default amalan-tilawah"><i class="fa fa-bars"></i> {{ status.banyak_tilawah }} halaman</small>
                    <!-- General tools such as edit or delete-->
                    <small class="form-edittilawah"><input class="input-sm" type="text" name="banyak_tilawah" value="{{ status.banyak_tilawah }}" placeholder="Total Halaman"></small>
                    <div class="tools editamalan-tilawah">
                        <i class="fa fa-edit"></i>
                    </div>
                </li>
                <li {% if status.hafalan %}class="done"{% endif %}>
                    <!-- checkbox -->
                    <input type="checkbox" value="1" {% if status.hafalan %}checked{% endif %} name="hafalan"/>
                    <!-- todo text -->
                    <span class="text">Hafalan</span>
                    <!-- Emphasis label -->
                    <small class="label label-default amalan-hafalan"><i class="fa  fa-bars"></i> Surat: {{ status.surat_hafalan }}  |  Ayat: {{ status.ayat_hafalan }} </small>
                    <!-- General tools such as edit or delete-->
                    <small class="form-edithafalan"><input class="input-sm" type="text" name="surat_hafalan" value="{{ status.surat_hafalan }}" placeholder="QS Surat"></small>
                    <small class="form-edithafalan"><input class="input-sm" type="text" name="ayat_hafalan" value="{{ status.ayat_hafalan }}" placeholder="Ayat"></small>
                    <div class="tools editamalan-hafalan">
                        <i class="fa fa-edit"></i>
                    </div>
                </li>
                <li {% if status.almathurat %}class="done"{% endif %}>
                    <input type="checkbox" value="1" {% if status.almathurat %}checked{% endif %} name="almathurat"/>
                    <span class="text">Al Mathurat</span>
                    <small class="label label-success"><i class="fa fa-book"></i> min 1 kali</small>
                </li>
                <li {% if status.dhuha %}class="done"{% endif %}>
                    <input type="checkbox" value="1" {% if status.dhuha %}checked{% endif %} name="dhuha"/>
                    <span class="text">Sholat Dhuha</span>
                    <small class="label label-success"><i class="fa fa-bookmark"></i> min 1 kali</small>
                </li>
                <li {% if status.sedekah %}class="done"{% endif %}>
                    <input type="checkbox" value="1" {% if status.sedekah %}checked{% endif %} name="sedekah"/>
                    <span class="text">Sedekah</span>
                    <small class="label label-success"><i class="fa fa-bookmark"></i> min 1 kali</small>
                </li>
                <li {% if status.tahajud %}class="done"{% endif %}>
                    <input type="checkbox" value="1" {% if status.tahajud %}checked{% endif %} name="tahajud"/>
                    <span class="text">Tahajud</span>
                    <small class="label label-success"><i class="fa fa-bookmark"></i> min 1 kali</small>
                </li>
                <li {% if status.puasa or isJdwlPuasa==false %}class="done"{% endif %}>
                    <input type="checkbox" value="1" {% if status.puasa %}checked{% endif %} name="puasa"/>
                    <span class="text">Puasa Sunnah</span>
                    <small class="label label-success"><i class="fa fa-clock-o"></i> 1 hari</small>
                </li>
            </ul>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix no-border">
        <input type="submit" class="btn btn-default pull-right" value="Simpan">
    </div>
    </form>
</div><!-- /.box -->

<script>
    function go(){
        alert("OK");
    }
    $('.tgl_prev').on('click', function(){
        var date = $('.tgl_today').text().replace('Tanggal: ', '').split('-');
        var tgl = date[0];
        var month = date[1]-1;
        var year = date[2];

        var prevDate = new Date(year, month, tgl-1);
        window.location.href += '?setdate=' + prevDate.getDay() + '-' + prevDate.getMonth()+1 + '-' +prevDate.getYear();
        location.reload();
        console.log(window.location.href);
    });
</script>